<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken_lec02</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div><br>

  <font size="5">Lec02 GET!</font><br><br>

  エントリー<br>
  <li th:each="user : ${entry.users}">[[${user}]]<br></li>
  <br>

  <div th:if="${users}">
    <div th:each="user,stat:${users}">
      ID : [[${user.id}]]<br>
      ユーザー名 : [[${user.name}]]
    </div>
  </div>
  <br>

  <div th:if="${loginUser}">
    Hi! [[${loginUser}]]<br>
  </div>

  <a href="/lec02janken?hand=Gu">ぐー</a> <a href="/lec02janken?hand=Tyoki">ちょき</a> <a href="/lec02janken?hand=Pa">ぱー</a>
  <div th:if="${janken}">
    あなたの手 [[${janken.playerHand}]]<br>
    相手の手 [[${janken.cpuHand}]]<br>
    結果 [[${janken.result}]]<br>
  </div>


</body>

</html>
