<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Match</title>
</head>

<body>
  <b>
    <font size="5">Match</font><br><br>
  </b>

  <b>
    <font size="5">[[${login_user}]] V.S. [[${user.name}]]</font>
  </b>

  <br>
  <a th:href="@{/wait(id=${user.id},hand=Gu)}">ぐー</a>
  <a th:href="@{/wait(id=${user.id},hand=Tyoki)}">ちょき</a>
  <a th:href="@{/wait(id=${user.id},hand=Pa)}">ぱー</a>
  <div th:if="${janken}">
    あなたの手 [[${janken.playerHand}]]<br>
    相手の手 [[${janken.cpuHand}]]<br>
    結果 [[${janken.result}]]<br>
  </div>
  <br>

  <br><a href="/lec02">もどる</a>
</body>

</html>
