<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>wait</title>
  <script>
    window.onload = function(){
      var sse = new EventSource('/result');
      sse.onmessage = function(event){
        console.log(event.data);
        var p1 = document.getElementById("p1");//操作対象のDOMを取得
        p1.appendChild(document.createTextNode(event.data));//ノードの追加
        p1.appendChild(document.createElement('br'));//brタグの追加
      }
    }
  </script>
</head>

<body>
  <b>
    <font size="5">相手の手を待っています</font><br><br>
  </b>
  <a>
    Hi! [[${login_user}]]
  </a>
  <br><br>
  <p id="p1"></p>
</body>

</html>
